.element__name {
	max-width: 210px;
	font-weight: 900;
	font-size: 24px;
	line-height: 120%;
	color: #000000;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media (max-width: 890px) {
	.element__name {
		max-width: 350px;
	}
}

@media (max-width: 350px) {
	.element__name {
		max-width: 210px;
	}
}