.profile__edit-button {
	min-width: 24px;
	height: 24px;
	background-image: url(../../../images/Edit\ Button.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	padding: 0;
	margin-top: 15px;
	order: 2;
	cursor: pointer;
	outline: none;
}

.profile__edit-button:hover {
	opacity: 0.6;
	transition: opacity 0.5s ease;
}

@media (max-width: 670px) {
	.profile__edit-button {
		min-width: 18px;
		height: 18px;
		background-image: url(../../../images/Edit\ Button_mobile.svg);
		margin-top: 8px;
	}
}